* {
  box-sizing: border-box; 
}

html {
  height: 100%;
  background-color: #EDF0F4;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  padding: 7.5% 10%;
  height: 100%;
  margin: 0;
}
